@import vars

    
.main-swiper
    height: 530px
    margin-bottom: 30px


section
    margin-bottom: 80px


.jewelry-swiper

    a
        border: 6px solid $gray7
        height: inherit
        background: $gray7
        display: flex
        flex-flow: column
        align-items: center
        transition: border-color .3s linear, color .3s linear

        &:hover
            border-color: $gold-hover
            color: $gold-hover


    b
        text-transform: uppercase
        margin-bottom: 16px
        font-size: 18px

    img
        width: auto
        height: 260px


.conditions
    display: flex
    width: 100%
    justify-content: space-between
    font-size: 18px
    font-weight: 700
    > li
        display: flex
        column-gap: 20px
        &:not(:last-child)
            border-right: 2px solid #e0e0e0
            padding-right: 35px


h2
    margin-bottom: 50px